.page-home {
    h1 {
        font-weight: 300;
        margin-bottom: 15px;
    }
    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }
    .travel-trend-categories {
        margin-top: 50px;
    }
    .travel-new-product {
        margin-top: 10px;
    }
    .travel-carousel .btn-gets {
        color: #fff;
        background-color: #39a2d9;
    }
}